<%= form_with(url: doctors_path, method: :get) do |form| %>
  <%= form.label :category_id, "Category" %>
  <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "All Categories" %>
  <%= form.submit "Filter" %>
<% end %>

<h2>Doctors</h2>
<% if @doctors.present? %>
  <% @doctors.each do |doctor| %>
    <p>
      <%= doctor.name %><br>
      <%= doctor.categories.map(&:name).join(", ") %>
    </p>
  <% end %>
<% else %>
  <p>No doctors found</p>
<% end %>