<!DOCTYPE html>
<html>
  <head>
    <title>ClinicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <nav>
      <% if current_user.present? || current_doctor.present? %>
        <%= link_to "Home", root_path %> |
        <% if current_user.present? %>
          <%= link_to "My Appointments", appointments_path %> |
          <%= link_to 'View Profile', user_path(current_user) %> |
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %> |
          <span><%= current_user.name %></span>
    <% elsif current_doctor.present? %>
          <%= link_to "View appointments", doctor_appointments_path(current_doctor) %> |
          <%= link_to "Categories", categories_path %> |
          <%= link_to "Sign out", destroy_doctor_session_path, data: { turbo_method: :delete } %> |
          <span><%= current_doctor.name %></span>
    <% end %>
      <% else %>
        <%= link_to "Home", root_path %> |
        <%= link_to "Login", new_session_path(:user) %> |
        <%= link_to "Sign Up", new_user_registration_path, data: { turbo_frame: "_top" } %>
      <% end %>
    </nav>
  </header>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
